<h1>Meine To-Do-Liste</h1>
<ol> 
    {% for index, todo in todos %}
        <li> {{ todo }} 
            <form action="{{ path('deleteTodo') }}" method="post" style="display:inline;">
                <input type="hidden" name="index" value="{{ index }}">
                <button type="submit">Entfernen</button>
            </form>
        </li>
    {% endfor %}
</ol>
<form action="{{ path('todoapp') }}" method="post">
    <input type="text" name="todos" placeholder="Neue Aufgabe">
    <button type="submit">Hinzufügen</button>
</form>