<h1>Mein To-Do-Liste</h1>
<p> 
    {% for todo in todos %}
        <li> {{ todo }} </li>
    {% endfor %}
</p>
<form action="/todoapp" method="post">
    <input type="text" name="todos" placeholder="Neue Aufgabe">
    <button type="submit">Hinzufügen</button>
</form>