<h1>Mein To-Do-Liste</h1>
<p> <?php foreach ($todos as $todo): ?>
    <li> <?php echo $todo->getTask(); ?> </li>
<?php endforeach; ?>
</p>
<form action="/todo" method="post">
    <input type="text" name="task" placeholder="Neue Aufgabe">
    <button type="submit">Hinzufügen</button>
</form>